# Node
node_modules
npm-debug.log
yarn.lock

# Artifacts
bundles/
build/
.next/
report/

# OS / IDE
.idea/
.vscode/
.DS_Store

#Testing
reports
drivers
selenium-debug.log
selenium-server.log
errorShots

storybook-static
static-link

/var/log/*
!var/log/.gitkeep
/var/screenshots/*
!var/screenshots/.gitkeep

newrelic_agent.log

.env
.env.cl
.env.pe
